
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

*{
    font-weight: lighter;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body{
    margin:0px 100px;
    font-family: "Lato", sans-serif;
}
.wrapper{
    display: flex;
    background-color: #306086;
    color:white;
    padding:100px;
    background: url("./images/arrow.svg"), #306085;
    background-repeat: no-repeat;
    background-position: center right 70px;
}
.info{
    flex-basis:65%;
}
.certificate{
    position: relative;
 margin:0px 20px;
 z-index: 1;
}
p{
    font-size: 20px;;
}
.small-font{
    font-weight: 100;
    font-size: 18px;
    color:#8AA5BB;
}
.small-font::before{
    content: url(./images/dots.svg);
    position: absolute;
    top: 386px;
    left: 103px;
}
.wrapper::before {
    content: url(./images/dots.svg);
    position: absolute;
    top: 12px;
    right: 493px;
    z-index: 0;
    -webkit-transform: rotate(90deg);
 }